@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.imageHoverEffect {
  transition: all 0.2s ease-in-out;
}

.imageHoverEffect:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}
.cardHoverEffect:hover .bg-cover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}
